<div id="form">
  <%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>
    <div class="content">
      <%= f.input :name %>
      <%= f.input :description %>
      <div id="goal">
        <%= f.simple_fields_for :goals do |goal| %>
          <%= render 'goal_fields', :f => goal %>
        <% end %>
        <div class="link">
          <%= link_to_add_association 'Add Goals', f, :goals %>
        </div>
      </div>
      <div id="members">
        <%= f.simple_fields_for :members do |member| %>
          <%= render 'member_fields', f: member %>
        <% end %>
        <div class="link">
          <%= link_to_add_association 'Add Member', f, :members %>
        </div>
      </div>
      <div id="tasks">
        <%= f.simple_fields_for :tasks do |task| %>
          <%= render 'task_fields', f: task %>
        <% end %>
        <div class="link">
          <%= link_to_add_association 'Add Task', f, :tasks %>
        </div>
      </div>
      <%= f.input :notes %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>