<h1><%= @project.name.titleize %></h1>
<div class="inline">
  <p>Members: 
  <% @project.members.each do |m| %>
    <%= m.name %> | <%= m.role %>.
  <% end %> 
  </p>
</div>  
<p><%= simple_format(@project.description) %></p>  

<h3>Goals</h3>
<ul>
  <% @project.goals.each do |g| %>
    <li><%= g.goal %></li>
  <% end %>
</ul> 


<h3>Tasks</h3>
<ul id="sort_tasks" data-update-url="<%= "/projects/#{@project.id}/sort" %>">
  <%= hidden_field_tag 'project_id', @project.id %>
<% @project.tasks.each do |t| %>
  <% if t.done? %>
    <div class="done">
      <%= content_tag_for :li, t do %>
        <%= t.task %> | <%= t.position %> <!-- the position tag here is just for tests remove latter -->
      <% end %>
    </div>
  <% else %>
      <div>
        <%= content_tag_for :li, t do %>
          <%= t.task %> | <%= t.position %>
        <% end %>
      </div> 
  <% end %>
<% end %>  
</ul> 

<h3>Notes</h3>
<p><%= simple_format(@project.notes) %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>